extends ./leader-template.pug
include ../components/common/panel/panel.pug
include ../components/common/crumbs/crumbs.pug
block main
    .materials
        +crumbs([{name:"Материалы",href:"#"}])
        h1.mozaic__title.title Материалы
        .materials__grid.tabs
            each i in materials 
                .materials__header(data-id=i.idx, open=i.idx===0 ? "open" : "close")= i.name
        .materials__grid.pages
            each i in materials 
                each j in i.items 
                    figure.materials__figure(data-id=i.idx, open=i.idx===0 ? "open" : "close") 
                        img.materials__img(src=j.img, alt="material "+j.caption)
                        figcaption.materials__caption= j.caption
            
        

