extends ./leader-template.pug
include ../components/common/card/card.pug
include ../components/common/crumbs/crumbs.pug
include ../components/common/tabs/tabs.pug
include ../components/common/galary/galary.pug
include ../components/common/mixins/splide.pug
include ../components/common/counter/counter.pug
block main
    +crumbs([{name:"Категории",href:"/category.html"},{name:"Каталог",href:"/catalog.html"},{name:"Продукт",href:"/product.html"}])
    .product
        h1.product__title.title Библиотечный стол кафедра
        .product__data
            .product__left
                +galary(product.galary)
            form.product__right 
                .product__article 
                    span Артикул: 
                    span= product.article
                .product__price 
                    .product__previous-price!= String(product.price.previous).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ')+"&#8381"             
                    .product__current-price!= String(product.price.current).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ')+"&#8381"          
                .pruduct__material.material 
                    h2.material__title Материал:
                    ul.material__list
                        each i,idx in product.materials
                            li.material__item
                                input(type="radio", name="material", data-id=idx, checked=idx === 0)
                                .material__inner
                                .material__panel
                                    img(src="../../assets/icons/material.png", alt="material sort")
                                    .material__name= i
                    .product__size
                        h2.size__title Размер:
                        select(name="material")
                            each i,idx in product.sizes
                                option(value=idx)= i

                    .product__control 
                        +counter("amount")
                        button.product__button.button В корзину

        .tabs__container
            +tabs(tabs)
                .tabs__item(data-id='0' active)
                    div kjlksdjlksjdf
                .tabs__item(data-id='1')
                    div 90890809809
                .tabs__item(data-id='2')
                    div материал
        
        .card-list 
            .arrow.arrow_180 
            +splide("card-list", cardList)
                +card(val)
            .arrow

