extends ./leader-template.pug
include ../components/common/card/card.pug
include ../components/common/crumbs/crumbs.pug
include ../components/common/tabs/tabs.pug
include ../components/common/galary/galary.pug
include ../components/common/mixins/splide.pug
include ../components/common/counter/counter.pug
block main
    +crumbs([{name:"Категории",href:"/category.html"},{name:"Каталог",href:"/catalog.html"},{name:"Продукт",href:"/product.html"}])
    .product
        h1.product__title.title Библиотечный стол кафедра
        .product__data
            .product__left
                +galary(product.galary)
            form.product__right 
                .product__article 
                    span Арт: 
                    span= product.article
                .product__price 
                    .product__current-price!= String(product.price.current).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ')+"&#8381"          
                .pruduct__material.material 
                    h2.material__title Материал:
                    ul.material__list
                        each i,idx in product.materials
                            li.material__item
                                input(type="radio", name="material", data-id=idx, checked=idx === 0)
                                .material__inner
                                .material__panel
                                    img(src="../../assets/icons/material.png", alt="material sort")
                                    .material__name= i
                    .product__size
                        h2.size__title Размер:
                        select(name="material")
                            each i,idx in product.sizes
                                option(value=idx)= i

                    .product__control 
                        +counter("amount")
                        button.product__button.button В корзину

        .tabs__container
            +tabs(tabs)
                .tabs__item(data-id='0' active)
                    .carachteristics
                        .carachteristics__left 
                            each i in carachteristics
                                .carachteristics__row
                                    .carachteristics__key= i.name
                                    .carachteristics__value= i.value
                        .carachteristics__left Варинат ростовки можно выбрать в поле “Размер”


                .tabs__item(data-id='1')
                    p 
                        |Каркас стола выполнен из круглой трубы с нанесением порошкового покрытия светло-серого цвета. Концы труб закрываются пластмассовыми заглушками.
                        |Столешница с закругленными углами выполнена из ЛДСП или влагостойкого пластика цвета Бук, края обработаны кромкой ПВХ 2 мм.
                    p
                        |При изготовлении используются только сертифицированные и безопасные для детей материалы.
                        |С вариантами материалов и расцветок можно ознакомиться на странице Материалы
                .tabs__item(data-id='2')
                    div материал
        
        h2.product__title.title C этим покупают
        .card-list
            .arrow.arrow_180 
            +splide("card-list", cardList)
                +card(val)
            .arrow

