.contacts
    .contacts__data 
        a.contacts__row(href="#")
            img.contacts__icon(src="../../../../assets/icons/pin.svg")
            .contacts__content
                .contacts__text= common.address
                .contacts__text= common.address1
        a.contacts__row(href="mailto:"+common.email)
            img.contacts__icon(src="../../../../assets/icons/email.svg")
            .contacts__text= common.email
        div.contacts__row
            img.contacts__icon(src="../../../../assets/icons/phone.svg")
            .contacts__text
                a(href="tel:"+common.phone style="display:block;")= common.phone
                a(href="tel:"+common.phone1 style="display:block;")= common.phone1
    #map